* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: visible;
}

.fake-div {
  width: 100vw;
  height: 100vh;
  background-color: #808080;
}

.wellness-content-aside__wrapper {
  width: 100%;
  height: calc(100vh * 3);
  display: flex;
}

.wellness-wrapper {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

.wellness-content {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.wellness-content:nth-child(odd) {
  background-color: #000;
}

.wellness-content__text {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 5vw;
}

.wellness-content:nth-child(odd) .wellness-content__text {
  color: #fff;
}

.wellness-image__list {
  position: sticky;
  width: calc(50vw - 15px);
  height: calc(60vh - 15px);
  top: 25vh;
  right: 0;
  margin: 25vh 0;
  flex: 0 0 50%;
}

.wellness-image__item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}

.wellness-image__item:nth-child(odd) {
  border: 10px solid #fff;
}

.wellness-image__item:nth-child(even) {
  border: 10px solid #000;
}

.wellness-image__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
