* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
    width: 98vw;
    height: 100vh;
}

.fake-height {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-wrapper {
    width: 100%;
    height: 100%;
}

.gallery {
    width: 100%;
    height: 100%;
    display: flex;
}

.gallery-list {
    width: 50%;
    height: 50%;
}

.gallery-list-box {
    width: 100%;
    height: 100%;
}

.gallery-list-box__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}